.logo {
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1677ff;
  font-size: 78px;
}

.headerLayout {
  background: #fff;
}
.contentLayout {
  margin: 24px 16px;
  padding: 24px;
  min-height: 280px;
  background: #fff;
}
